* {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

// header //

header {
    width: 100%;
    height: 80px;
    background-size: cover;
    background: RGBA(0,2,36,0.35);
    position: fixed;

    nav {
        position: fixed;
        width: 100%;

        .logo {
            position: fixed;
            float: left;
            margin: 0 20px;
            font-weight: bold;
            width: 150px;
            height: 70px;
        }

        .menu {
            ul {
                line-height: 60px;
                list-style: none;
                color: #fff;
                padding: 0;
                text-align: right;
                margin: 0;
                padding-right: 40px;
                transition: 1s;

                li {
                    display: inline-block;
                    padding: 10px 20px;

                    a {
                        color: #fff;
                        font-size: 16px;
                        text-decoration: none;
                    }

                    .basket {
                        padding-right: 0;
                    }
                    .counter {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}

// body //

body {
    background: #FFFFFF;
}
// footer //

footer {
    background: #353535;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
