* {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

// header //

header {
    width: 100%;
    height: 20%;

    .navbar_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .orinoco_icon {
            height: 8em;
        }
        .navbar_button_container {
            .navbar_button{
                font-size: 4rem;
            }

        }
       
    }

    .navbar_menu {
        
        .menu_container {
            list-style-type: none;
            
            .menu_button {
               
                a {
                    color: rgb(0, 0, 0);
                    font-size: 4rem;
                    font-weight: bolder;
                    text-decoration: none;
                }
            }

        }
    
    }
}
// footer //
 
footer {
    background: #14141473;
    height: 10rem;
    width: 100%;
    
    p{
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
    }
}

// responsive desktop
@media screen and (min-width: 1440px){

    
    
    
 
}