// global //
* {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

// header //

header {
    width: 100%;
    height: 20%;

    .navbar_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;
        .orinoco_icon {
            height: 7em;
        }
        .navbar_button_container {
            .navbar_button {
                font-size: 4rem;
            }
        }
    }

    .navbar_menu {
        flex-basis: 100%;
        align-items: center;
        .menu_container {
            list-style-type: none;
            .menu_button {
                a {
                    color: rgb(0, 0, 0);
                    font-size: 3rem;
                    text-decoration: none;
                }
            }
        }
    }
}
// footer //

footer {
    background: #14141473;
    height: 10rem;
    width: 100%;

    p {
        text-align: center;
        font-size: 2em;
        font-weight: bolder;
    }
}

// responsive desktop

@media (min-width: 992px) {
    .navbar-expand-lg {
        .navbar_header {
            .navbar_menu {
                flex-basis: 0;
                display: flex;
                .menu_container {
                    display: flex;
                    .menu_button {
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}
