.container {
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        #image {
            min-height: 221px;

            object-fit: cover;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .card_header {
                display: flex;
                justify-content: space-between;
            }
            .card_footer {
                display: flex;
                justify-content: space-around;
                align-items: baseline;
                .number-product {
                    width: 200px;
                }
            }
        }
    }
}
