.container {
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        width: 80%;
    }
    .test2 {
        display: flex;
        justify-content: space-around;
        .test {
            width: 200px;
        }
    }
}
