.information_container{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    .title{
        text-align: center;
    }
    .information{
        width: 80%;
    }
    .recap{
        width: 80%;
    .table-container{
        
    }
}
    }
    